body {
  background-color: #FFFFB5;
  text-align: center;
  font-family: 'Fredoka One', cursive;


}

h1 {
  margin: 25px;
  font-family: 'Fredoka One', cursive;


}

input {
  margin-bottom: 15px;
  font-family: 'Fredoka One', cursive;

}
textarea{
  font-family: 'Fredoka One', cursive;

}
button{
  font-family: 'Fredoka One', cursive;

}

li {
  text-align: left;
  margin: 15px;
  box-shadow: 5px 5px 5px;
}

.btn-info,
.btn-danger {
  float: right;
  font-family: 'Fredoka One', cursive;

}


